*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #162938;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subBtn{
    width: 120px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    transition: all .2s;
}
.subBtn:hover{
    color: #162938;
    letter-spacing: 1.2px;
}
